.container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}


.header ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

li a{
  text-decoration: none;
  margin: 0 3em;
  color: black;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}


.user-card{
  width: 60%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background: rgb(252, 255, 255);
  margin: 2em auto;
}

.user-card p{
  font-size: 18px;
  font-weight: 400;
}

.user-card p span{
  font-weight: 700;
}

.edit-icon{
  display: block;
  text-decoration: none;
  color: blue;
}

.bx{
  font-size: 20px;
  cursor: pointer;
}

.bx-trash-alt{
  color: red;
}