.container {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
}


.header ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

li a{
  text-decoration: none;
  margin: 0 3em;
  color: black;
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: center;
  margin-top: 1em;
}


.user-card{
  width: 60%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background: rgb(252, 255, 255);
  margin: 2em auto;
}

.user-card p{
  font-size: 18px;
  font-weight: 400;
}

.user-card p span{
  font-weight: 700;
}

.edit-icon{
  display: block;
  text-decoration: none;
  color: blue;
}

.bx{
  font-size: 20px;
  cursor: pointer;
}

.bx-trash-alt{
  color: red;
}


/* ================== form ================= */

.form{
  margin: 2em auto;
  width: 45%;
  box-shadow: 10px 10px 10px rgba(0,0,0,.1);
  border-radius: 6px;
  padding: 1em;
}

.user-form{
  width: 100%;
}

.user-form h1{
  text-align: center;
  margin: .5em auto;
}

.user-form .form-group{
  width: 100%;
  padding-left: 2em;
  margin: .5em 0;
}

.user-form  label{
  display: block;
  font-size: 18px;
}

.user-form input{
  width: 80%;
  outline: none;
}

.btn{
  border: none;
  background: rgb(188, 233, 233);
  padding: .7em 1.4em;
  margin: 1em 0 0 2em;
  border-radius: 6px;
  cursor: pointer;
}
